{{- range $app := .Values.argocdApplications -}}
{{ if not .disable }} 
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  {{- if or .UseCustomName false }} 
  name: {{ .UseCustomName.name }}
  {{ else }}
  name: {{ $.Values.global.env }}-{{ .name }}
  {{ end -}}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  namespace: argocd
  labels:
    argocd.argoproj.io/env: {{ $.Values.global.env }}
spec:
  project: {{ $.Values.global.project | default "default" | quote }}
  source:
    repoURL:  {{ $.Values.global.repoURL }}
    targetRevision: {{  $.Values.global.repoBranch | default "main" | quote }}
    path: applications/charts/helm-applications/{{ .name }}
    plugin:
      name: helm-resolver
      env:
        - name: REPO_NAME 
          value: {{ .RepoName }}
        - name: REPO_URL
          value: {{ .RepoURL }}
        - name: CHART_NAME
          value: {{ .ChartName }}
        - name: COMMAND
          {{- if or .UseCustomEnv false }} 
          value: '--values {{ .UseCustomEnv.valuesName }}'
          {{ else }}
          value: '--values {{ $.Values.global.env }}-values.yml'
          {{- end }}
        - name: CHART_VERSION
          value: {{ .ChartVersion }}
  destination:
    namespace: {{ default "default" .namespace }}
    {{- if or .UseCustomEnv false }}
    server: {{ .UseCustomEnv.server }}
    {{ else }}
    server: {{ $.Values.global.server }}
    {{- end }}
  syncPolicy:
    {{- if not .disableAutomated }}
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
    {{- end }}
    syncOptions:
      - PruneLast=true
      - CreateNamespace=true
---
{{- end }}
{{- end }}
